
.button-cont {
  height: 50px;
}

.cont .btn {
  height: 100px;
  font-size: 50px;
}

.cont .reset {
  position: absolute;
  height: 50px;
  width: 100px;
  font-size: 20px;
  top: 10px;
  left: 1550px;
}

@media (max-width: 1000px) {
  
  .cont .label {
    position: relative;
    top: 20px;
  }

  .cont .button-cont .btn {
    height: 60px;
    font-size: 30px;
  }

  .cont .reset {
    height: 40px;
    width: 80px;
    left: 70%;
    top: 800px;
    font-size: 18px;
  }
}