:root {
  overflow: hidden;
}

.button-cont {
  height: 50px;
}

.cont .btn {
  height: 80px;
  font-size: 30px;
}

.cont .reset {
  position: absolute;
  height: 50px;
  width: 100px;
  font-size: 20px;
  top: 5%;
  left: 91%;
}

@media (max-width: 800px) {
  
  :root {
    overflow: auto;
  }

  .cont .label {
    position: relative;
    top: 20px;
  }

  .cont .button-cont .btn {
    height: 60px;
    font-size: 30px;
  }

  .cont .reset {
    height: 40px;
    width: 80px;
    left: 70%;
    top: 170%;
    font-size: 18px;
  }
}